$point-color: blueviolet;
$point-color2: #3f434e;
$point-color3: #bb91df;
$background-deep-black-color: #1c1c1c;
$background-black-color: #242424;
$background-white-color: white;
$background-blue-color: royalblue;
$background-dark-blue-color: #8ca2e6;
$gray-color: gray;
$font-black-color: black;
$font-white-color: white;
$font-gray-color: #3c3c3c;
$border-black-color: black;
$border-gray-color: #3c3c3c;
$border-dark-blue-color: rgb(30, 38, 60);
$border-blue-color: royalblue;
$border-soft-blue-color: #e2e8f0;
$button-gray-color: rgb(239, 239, 239);
$button-google-color: rgb(222, 222, 222);
$shadow-box-color: rgba(0, 0, 0, 0.3);
$shadow-color: rgba(0, 0, 0, 0.05);
$shadow-white-color: rgba(255, 255, 255, 0.02);

// https://codepen.io/sosuke/pen/Pjoqqp
$img-filter-white-color: invert(100%) sepia(34%) saturate(1152%)
  hue-rotate(301deg) brightness(122%) contrast(106%);
