@import "src/styles/commons";

.posts-container {
  height: 100%;
  .posts-header {
    display: flex;
    justify-content: space-between;
    .post-count {
      margin: 0.5rem;
      padding: 0.5rem;
      font-size: 1rem;
    }

    .post-detail {
      margin: auto 0 auto 0;
    }
  }

  .posts-empty {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    // justify-content: center;
    margin-top: 3rem;
    align-items: center;

    p {
      font-size: 1.1rem;
      font-family: "SokchoBadaBatang";
    }
  }

  .posts {
    opacity: 0;
    &.render {
      opacity: 1;
    }

    transition: opacity 0.5s;

    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 0.5rem;

    // @include mediaquery(large) {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @include mediaquery(medium) {
    //   grid-template-columns: repeat(1, 1fr);
    // }

    .post {
      width: 45%;

      @include mediaquery(medium) {
        width: 90%;
      }
      display: flex;
      flex-direction: column;
      background-color: #f3f5f6;
      border-radius: 1.5rem;
      margin-bottom: 30px;
      padding: 1rem;

      &:is(.dark *) {
        background-color: #242424;
      }
      .post-item-img {
        width: 100%;
        max-height: 20rem;
        // height: 12rem;
        text-align: center;
        align-content: center;
        object-fit: cover;
        border-radius: 10px;
      }
      .post-item-top {
        margin: auto 0 auto 0;
      }
      .post-item-content {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        .post-item-category {
          text-align: left;
        }
        .post-item-title {
          font-size: 1.2rem;
          font-weight: 600;
          word-break: break-all;
        }
      }
      .post-item-chore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .post-pageination {
    justify-content: center;
    li button {
      line-height: inherit !important;
    }
  }
}
