@import "src/styles/commons";

.header {
  width: 100%;
  height: 60px;
  background-color: $background-white-color;
  box-shadow: 0 5px 10px $shadow-color;

  &:is(.dark *) {
    color: $font-white-color;
    background-color: $background-black-color;
    box-shadow: 0 5px 10px $shadow-white-color;
  }

  // &.light {
  //     color: $font-black-color;
  //     background-color: $background-white-color;
  // }
  // &.dark {
  //     color: $font-white-color;
  //     background-color: $background-black-color;
  // }

  .header-menu {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;

    a.brand {
      font-family: "SokchoBadaBatang";
    }

    .header-right {
      display: flex;
      flex-direction: row;
      height: inherit;
      align-items: center;

      nav {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
