@import "src/styles/commons";

.usermenu {
  &.button {
    padding: 0.3em 1em 0.3em 1em;

    a {
      color: $font-white-color;
    }

    &:is(.dark *) {
      background-color: $background-dark-blue-color;
    }
  }
}
