* {
  box-sizing: border-box;
}

body {
  margin: 0;
  // user-select: none;
  font-size: 15px;
  @include mediaquery(wide) {
    font-size: 14px;
  }
  @include mediaquery(x-large) {
    font-size: 13px;
  }
  @include mediaquery(large) {
    font-size: 12px;
  }
  @include mediaquery(medium) {
    font-size: 12px;
  }

  &.dark {
    color: $font-white-color;
  }

  transition:
    background-color 0.3s,
    color 0.3s !important;
}

p {
  margin-block: 0;
  margin-inline: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // background-color: #e5e7eb;

  &:is(.dark *) {
    background-color: $background-deep-black-color;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.liner {
  border-top: 1px solid black;
  margin-bottom: 0.5rem;
}

div[data-testid="flowbite-tooltip"] {
  font-family: "SokchoBadaBatang";
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  //글자색
  -webkit-text-fill-color: white;
  //배경색
  transition: background-color 86400s ease-in-out 0s !important;
  -webkit-transition: background-color 86400s ease-in-out 0s !important;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 86400s ease-in-out 0s !important;
  -webkit-transition: background-color 86400s ease-in-out 0s !important;
}
