.button {
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: royalblue;
  cursor: pointer;
}

button {
  user-select: none;
}

.buttons {
  display: flex;
  flex: 0 1;
  justify-content: center;

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }
}
