@import "src/styles/commons";

.profile-container {
  .profile-body {
    .profile-body-password-box {
      .content-box {
        display: flex;
        margin-bottom: 0.5em;
        .content-label {
          flex: 2;
          font-size: 1.5em;
          font-weight: bold;
        }
        .content-data {
          flex: 8;
          .content-data-password {
            display: flex;
            flex-direction: column;
            margin: auto 0;
            font-size: 1.1em;
            gap: 0.5em;

            div {
              min-height: 1.8em;
              display: flex;
              gap: 0.5em;

              @include mediaquery(medium) {
                flex-direction: column;
              }
            }

            div input {
              background-color: inherit;
              padding: 0px;
              border-radius: 5px;
              text-align: center;
              &::placeholder {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
