@import "src/styles/commons";

.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;

  @include mediaquery(large) {
    flex-direction: column;
  }

  // @include mediaquery(medium) {
  //     flex-direction: column;
  // }

  section {
    // flex-grow: 6;
    width: 100%;
    // background-color: aquamarine;
  }

  aside {
    // flex-grow: 1;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    // background-color: beige;

    @include mediaquery(large) {
      width: 100%;
      // flex-direction: row;
    }
  }
}
